<!-- <h3 *ngIf="articleIdToUpdate; else create"> 
   Update Article for Id: {{articleIdToUpdate}}
</h3>
<ng-template #create>
   <h3> Create New Article </h3>
</ng-template>
<div>
 <form [formGroup]="articleForm" (ngSubmit)="onArticleFormSubmit()">
  <table>
    <tr><td>Enter Title</td><td><input formControlName="title">
	  <label *ngIf="articleForm.get('title').invalid && processValidation" [ngClass] = "'error'"> Title is required. </label>
    </td></tr>
    <tr><td>Enter Category</td><td><input formControlName="category">
	  <label *ngIf="articleForm.get('category').invalid && processValidation" [ngClass] = "'error'"> Category is required. </label>
    </td></tr>	
    <tr><td colspan="2">
	  <button *ngIf="!articleIdToUpdate">Add</button>  
	  <button *ngIf="articleIdToUpdate">Update</button>  
	  <button (click)="backToCreateArticle()" *ngIf="articleIdToUpdate">Go Back</button>  
    </td></tr>
  </table>
 </form> 
 <br/>
</div>
<h3>Article Details</h3>
<table>
  <tr><th> Id</th> <th>Title</th><th>Category</th><th></th><th></th></tr>
  <tr *ngFor="let article of allArticles" >
        <td>{{article.id}}</td> <td>{{article.title}}</td> <td>{{article.category}}</td>
	<td><button type="button" (click)="loadArticleToEdit(article.id)">Edit</button> </td> 
	<td><button type="button" (click)="deleteArticle(article.id)">Delete</button></td>
  </tr>
</table>  -->


<div style="padding-top:20px">

    <div style="padding-top:20px;padding-bottom:20px" *ngIf="error" style="color:red">{{errorMsg}}</div>
    
      <table style="width:60%">
          <tr>
              <td>
                  <span style="padding:20px;">
                      <input placeholder="Search Value" [(ngModel)]="value" type="text" />
                  </span>
                  <span style="padding:20px;">
                      <input placeholder="Search ID" [(ngModel)]="id" type="text" />
                  </span>
              </td>
              <td> 
                  <button (click)="searchData()">Search</button>
              </td>
          </tr>

          <tr>
            <td>
                <span style="padding-left:20px;">
                      <input placeholder="Tag" [(ngModel)]="tag" type="text" />
                </span>
            </td>
            <td>
                <button (click)="addData()">Add</button>
            </td>
          </tr>

          <tr>
            <td>
              <span style="padding:20px;">
                    <textarea rows="4" cols="50" placeholder="Details" 
                              [(ngModel)]="details" >
                    </textarea> 
              </span>
            </td>

            <td>
                <button (click)="updateData()">Update</button>
                <button style="display: block;" (click)="deleteArticle()">Delete</button>
            </td>
          </tr>
</table>

  <div style="padding-top:20px;" 
        *ngFor="let result of searchResults">
    <div style="color:blue;text-decoration:underline; cursor:pointer;"          (click)="displayDetails(result)">{{result.title}}</div>
    <div style="color:blue;">{{result.highlights}}</div>
  </div>
</div>